#relatorios {
    background-color: white;
}

#janela-escolhas {
    display: none;
    background-color: var(--cor9);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    animation: janela-escolhas 0.4s;
}

@keyframes janela-escolhas {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#janela-escolhas p {
    display: inline-block;
}

.inputs {
    margin: 0 15px 0 2px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    width: 130px;
    background-color: var(--cor8);
}

#btn-relatorios {
    font-size: 0.9rem;
    font-weight: normal;
    padding: 3px 8px;
    border-radius: 7px;
}

.titulos {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

#tot-categorias {
    width: 25%;
    display: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

#tot-mes {
    width: 55%;
    display: none;
    margin-left: 70px;
    margin-bottom: 20px;
}

@media (max-width: 730px) {

    #tot-categorias,
    #tot-mes {
        width: 100%;
        margin-left: 0;
    }

    #tot-mes {
        margin-top: 70px;
    }
}