@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --cor1: #096FAB;
    --cor2: #08527d;
    --cor3: #053653;
    --cor4: #0A37CC;
    --cor5: #a90000;
    --cor6: #d20000;
    --cor7: #e7f0ff;
    --cor8: #f3f3f3;
    --cor9: #e6e6e6;
    --cor10: #00C717;
    --cor11: #09AB61;
    --cor11: #06582d;
    --sombra: #0000003b;

    --fonte-padrao: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
}

body {
    background-color: var(--cor8);
}

#barra-logo {
    position: fixed;
    padding: 5px;
    width: 100%;
    top: 0%;
    background-color: white;
    box-shadow: 0px 0px 60px -20px var(--sombra);
}

#logotipo {
    width: 180px;
}

#barra-lateral {
    position: fixed;
    top: 4.3rem;
    height: 100%;
    width: 50px;
    padding: 10px;
    background-color: var(--cor1);
    box-shadow: -10px 60px 60px 0px var(--sombra);
}

#icn-menu {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 6px 0 0 8px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

#icn-menu:hover {
    background-color: var(--cor9);
    transition: 0.2s;
}

#icn-menu:active {
    background-color: var(--cor8);
    transition: 0.2s;
}

.menu-login-fundo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 4.3rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    animation: menu-login-fundo 0.3s;
}

@keyframes menu-login-fundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#menu-login {
    position: fixed;
    top: 4.3rem;
    height: 100%;
    width: 250px;
    padding: 10px;
    background-color: var(--cor1);
    box-shadow: -10px 60px 60px 0px var(--sombra);
    animation: menu-login 0.3s;
}

@keyframes menu-login {
    from {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#btn-sair {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--cor2);
    border-radius: 10px;
    cursor: pointer;
}

#btn-mud-senha,
#btn-editar {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 5px;
    padding: 5px 10px;
    width: 49%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--cor2);
    border-radius: 10px;
    cursor: pointer;
}

#btn-sair:hover {
    background-color: var(--cor5);
    transition: 0.2s;
}

#btn-sair:active {
    background-color: var(--cor6);
    transition: 0.2s;
}

#btn-mud-senha:hover,
#btn-editar:hover {
    background-color: var(--cor3);
    transition: 0.2s;
}

#btn-mud-senha:active,
#btn-editar:active {
    background-color: var(--cor2);
    transition: 0.2s;
}

#infos-logado {
    margin: 15px 0px;
}

#infos-logado h3,
#infos-logado p {
    color: white;
}

#inputs-edicao {
    margin-top: 20px;
}

#inputs-edicao p {
    color: white;
}

.input {
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    background-color: var(--cor8);
}

.senhas {
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    background-color: var(--cor8);
}

#imp-senha-antiga,
#inp-nova-senha,
#inp-conf-senha {
    background-color: transparent;
    border: none;
    width: 87%;
    border-radius: 5px;
    margin-bottom: 2px;
}

#olho1,
#olho2,
#olho3 {
    cursor: pointer;
}

#msg-senha {
    display: none;
    color: white;
    background-color: var(--cor5);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 05px 10px;
    border-radius: 5px;
}

#btn-editado {
    width: 100%;
}

#conteudo {
    margin: 90px 10px 0 60px;
    max-width: 1500px;
}

#barra-nav {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

#barra-nav>a:hover {
    background-color: white;
    transition-duration: 0.2s;
}

#barra-nav>a:active {
    background-color: var(--cor9);
}

.menu {
    font-weight: bold;
    background-color: var(--cor9);
    border-radius: 20px 20px 0px 0px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

main {
    padding: 20px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 0px 20px 60px -20px var(--sombra);
    background-color: white;
}

.botoes {
    background-color: var(--cor2);
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}

.botoes:hover {
    background-color: var(--cor3);
    transition: 0.2s;
}

.botoes:active {
    background-color: var(--cor1);
    transition: 0.2s;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    padding: 10px;
}

thead,
tfoot {
    font-weight: bold;
    background-color: var(--cor8);
}

tr {
    border-bottom: 1px solid var(--cor1);
}

tbody tr td,
tfoot tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}

thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
}

tbody tr {
    margin-bottom: 50px;
}

.valores {
    display: flex;
    float: right;
}

.colum-data {
    width: 100px;
}

.colum-valor {
    width: 110px;
    text-align: center;
}

.acao {
    width: 100px;
    text-align: right;
}

.btn-acao {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 5px 3px 2px 3px;
    margin-right: 10px;
}

td button i {
    font-size: 1rem;
    color: var(--cor2);
    display: flex;
}

footer {
    margin: 20px 0 20px 55px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 730px) {

    p {
        font-size: 0.9rem;
    }

    table,
    .valores {
        font-size: 0.8rem;
    }

    #conteudo {
        margin: 80px 10px 0 60px;
    }

    #barra-nav {
        margin-bottom: 5px;
    }

    .menu {
        font-size: 0.75rem;
        padding: 5px 3px;
        border-radius: 10px 10px 0px 0px;
    }

    .botoes {
        font-size: 0.8rem;
        border-radius: 7px;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    #barra-lateral,
    #menu-login,
    .menu-login-fundo {
        top: 4.3rem;
    }
}