#relatorios {
    background-color: white;
}

.janelas-escolhas {
    display: none;
    background-color: var(--cor9);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    animation: janela-escolhas 0.4s;
}

@keyframes janela-escolhas {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.janelas-escolhas p {
    display: inline-block;
}

#janela-categoria h3 {
    margin-bottom: 10px;
}

.inputs {
    margin: 0 5px 0 2px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    width: 95px;
    background-color: var(--cor8);
}

#input-categorias {
    width: 150px;
}

#btn-relatorios,
#btn-relatorios-cat {
    font-size: 0.9rem;
    font-weight: normal;
    padding: 3px 8px;
    border-radius: 7px;
}

.titulos {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

#tot-categorias {
    width: 25%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

#tot-mes {
    width: 55%;
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 20px;
}

#resultados-categorias {
    margin-top: 20px;
    width: 55%;
}

@media (max-width: 730px) {

    .janelas-escolhas {
        display: flex;
        justify-content: center;
    }

    .janelas-escolhas buttom {
        margin-top: 10px;
        text-align: center;
    }

    .inputs {
        font-size: 0.8rem;
        width: 85px;
    }

    #tot-categorias {
        width: 100%;
        margin: auto;
    }

    #tot-mes {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    #div-relatorio-categorias {
        width: 100%;
    }
}