#orcamento {
    background-color: white;
}

#div-orcamento {
    margin-top: 20px;
    width: 70%;
    display: inline-block;
}

#colum-categoria {
    background-color: var(--cor8);
}

#colum-orcamento,
#colum-gasto,
#colum-disponivel {
    width: 170px;
}

.valores {
    margin-right: 20px;
}

.nova-categoria-janela {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    animation: nova-categoria-janela 0.3s;
}

.ativo {
    display: flex;
}

.ativo .nova-categoria {
    animation: nova-categoria 0.3s;
}

@keyframes nova-categoria-janela {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes nova-categoria {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.nova-categoria {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px 20px var(--sombra);
    background-color: white;
}

.nova-categoria>div>h3 {
    margin-bottom: 20px;
}

#btn-fechar {
    float: right;
    font-size: 2rem;
    margin-top: -10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nova-categoria>p {
    margin-top: 10px;
}

#btn-lancar {
    margin-top: 10px;
    width: 100%;
    padding: 0.3rem 0.6rem;
    background-color: var(--cor2);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#btn-lancar:hover {
    background-color: var(--cor3);
    transition: 0.2s;
}

#btn-lancar:active {
    background-color: var(--cor1);
    transition: 0.2s;
}

.input-lancar {
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    width: 160px;
    background-color: var(--cor7);
    float: right;
}

#alerta>p {
    color: var(--cor5);
    text-align: center;
    margin-top: 10px;
}

.gasto,
.valor-disponivel {
    color: var(--cor11);
    float: right;
    margin-right: 20px;
}

.gasto,
.negativo,
.negativo td .valor-disponivel {
    color: var(--cor5);
}

@media (max-width: 730px) {
    #div-orcamento {
        width: 100%;
        display: block;
    }
}