@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --cor2: #096FAB;
    --cor8: #08527d;
    --cor9: #053653;
    --cor1: #0A37CC;
    --cor3: #a90000;
    --cor5: #d20000;
    --cor4: #e7f0ff;
    --cor6: #f3f3f3;
    --cor7: #e6e6e6;
    --sombra: #0000003b;

    --fonte-padrao: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body {
    background-color: var(--cor6);
    color: var(--cor2);
}

header {
    margin: auto;
    margin-top: 10px;
    max-width: 900px;
    min-width: 500px;
}

#barra-login {
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--cor2);
    color: white;
    /*transition: all 0.5s ease;*/
    box-shadow: 0px 0px 60px -20px var(--sombra);
}

#saudacao {
    display: inline-block;
    margin-top: 3px;
}

#sair {
    display: flex;
    float: right;
    margin-right: 10px;
    padding: 0.3rem 0.6rem;
    background-color: var(--cor3);
    color: white;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#sair>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#sair:hover {
    background-color: var(--cor5);
    transition: 0.2s;
}

#sair:active {
    background-color: var(--cor9);
    transition: 0.2s;
}

#cabecalho {
    padding: 20px;
    padding-top: 10px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 60px -20px var(--sombra);
}

#logotipo {
    max-width: 250px;
    display: block;
    margin: auto;
}

#cabecalho>p {
    text-align: center;
}

#conteudo {
    margin: auto;
    max-width: 900px;
    min-width: 300px;
}

nav {
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
}

nav>a {
    color: var(--cor2);
}

nav>a:hover {
    background-color: white;
    transition-duration: 0.2s;
}

nav>a:active {
    background-color: var(--cor6);
}

.menu {
    background-color: var(--cor7);
    border-radius: 20px 20px 0px 0px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

main {
    padding: 20px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 0px 20px 60px -20px var(--sombra);
    background-color: white;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
}

footer a:hover {
    text-decoration: underline;
}